/* Apply styles to the main container */
    .main-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #1a202c;
      padding: 2rem;
      margin: 0;
    }

    /* Apply styles to the content container */
    .content-container {
      background-color: #2d3748;
      color: #fff; /* Set text color to white */
      border-radius: 0.5rem;
      padding: 2rem;
      max-width: 600px;
      width: 100%;
      text-align: center;
    }

    /* Apply styles to the Upload button */
    .upload-btn {
      background-color: #4299e1;
      color: #fff;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.3s;
      outline: none;
      border: none;
    }

    .upload-btn:hover {
      background-color: #3182ce;
    }

    .upload-btn:focus {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }

    .upload-btn:active {
      background-color: #2b6cb0;
    }

    /* Additional styles to improve visibility */
    label {
      color: #fff;
    }

    /* Adjust link colors */
    a {
      color: #4299e1;
    }

    a:hover {
      color: #3182ce;
    }

    /* New body styles with customizable background image */
    body {
      background: url("https://via.placeholder.com/1920x1080") no-repeat center center fixed;
      background-size: cover;
      margin: 0;
    }

    /* Adjust progress bar color */
    .progress-bar {
      background-color: #4a5568;
      border-radius: 0.25rem;
      height: 8px;
      overflow: hidden; /* Hide progress overflow */
    }

    .bg-blue-500 h-2 {
      border-radius: 0.25rem;
      animation: progress-animation 3s linear; /* Add animation to the progress bar */
    }

    /* Keyframes for progress bar animation */
    @keyframes progress-animation {
      from {
        width: 0;
        background-color: #4299e1; /* Start with the initial color */
      }
      25% {
        background-color: #63b3ed; /* Change color at 25% progress */
      }
      50% {
        background-color: #90cdf4; /* Change color at 50% progress */
      }
      75% {
        background-color: #a0aec0; /* Change color at 75% progress */
      }
      to {
        background-color: #4a5568; /* End with the final color */
      }
    }

    /* Adjust text color for progress and file URL */
    .message,
    .file-url {
      color: #fff;
    }